<div class="container-fluid">
  <div class="row py-3 border-bottom align-items-lg-center">

    <!-- Logo y Menú -->
    <div class="col-sm-4 col-lg-2 text-center text-sm-start d-flex gap-3 justify-content-center justify-content-md-start">
      <div class="d-flex align-items-center my-3 my-sm-0">
        <a href="/">
          <img src="assets/images/logo.png" alt="logo" class="img-fluid">
        </a>
      </div>

      <!-- Botón del menú y los íconos en mobile -->
      <div class="d-flex align-items-center gap-3 d-sm-none">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <svg width="24" height="24" viewBox="0 0 24 24">
            <use xlink:href="#menu"></use>
          </svg>
        </button>

        <!-- Iconos de usuario, wishlist, carrito en mobile -->
        <ul class="d-flex list-unstyled mb-0 gap-3">
          <!-- <li>
            <a href="#" class="p-2">
              <svg width="24" height="24"><use xlink:href="#user"></use></svg>
            </a>
          </li> -->
          <!-- <li>
            <a href="#" class="p-2">
              <svg width="24" height="24"><use xlink:href="#wishlist"></use></svg>
            </a>
          </li> -->
          <li>
            <a href="#" class="p-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
              <svg width="24" height="24"><use xlink:href="#shopping-bag"></use></svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Links y iconos para pantallas grandes -->
    <div class="col-lg-4 d-none d-lg-block">
      <ul class="navbar-nav list-unstyled d-flex flex-row gap-3 justify-content-center flex-wrap align-items-center mb-0 fw-bold text-uppercase text-dark">
        <li class="nav-item active">
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item active">
          <a routerLink="/" class="nav-link">Contacto</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle pe-3" role="button" id="pages" data-bs-toggle="dropdown" aria-expanded="false">Catálogos</a>
          <ul class="dropdown-menu border-0 p-3 rounded-0 shadow" aria-labelledby="pages">
            <li><a [routerLink]="['/productos/novedades']" class="dropdown-item">Catálogo de Novedades</a></li>
            <li><a [routerLink]="['/productos/chocolates']" class="dropdown-item">Catálogo de Chocolates</a></li>
            <li><a [routerLink]="['/productos/caramelos']" class="dropdown-item">Catálogo de Caramelos</a></li>
            <li><a [routerLink]="['/productos/galletas']" class="dropdown-item">Catálogo de Galletas</a></li>
            <li><a [routerLink]="['/productos/hoteles']" class="dropdown-item">Detalles para Hoteles</a></li>
            <li><a [routerLink]="['/productos/bombones']" class="dropdown-item">Bombones San Valentín</a></li>
            <li><a [routerLink]="['/productos/navidad']" class="dropdown-item">Regalos de Navidad</a></li>
            <li><a [routerLink]="['/productos/minibar']" class="dropdown-item">Catálogo Mini-Bar</a></li>
            <!-- Otros links -->
          </ul>
        </li>

      </ul>
    </div>

    <!-- Barra de búsqueda -->
    <div class="col-sm-6 offset-sm-2 offset-md-0 col-lg-4">
      <div class="search-bar row bg-light p-2 rounded-4">
        <div class="col-11">
          <form (submit)="onSearchSubmit()" class="text-center">
            <input type="text" name="search" class="form-control border-0 bg-transparent"
              placeholder="Busca detalles de chocolates ..." [(ngModel)]="searchQuery"
              (input)="onSearchSubmit()">
          </form>
        </div>
        <div class="col-1">
          <svg (click)="onSearchSubmit()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="currentColor" d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z"/>
          </svg>
        </div>
      </div>
    </div>

    <!-- Iconos en pantallas grandes -->
    <div class="col-sm-8 col-lg-2 d-none d-sm-flex gap-5 align-items-center justify-content-center justify-content-sm-end">
      <ul class="d-flex justify-content-end list-unstyled m-0">
        <!-- <li>
          <a href="#" class="p-2 mx-1">
            <svg width="24" height="24"><use xlink:href="#user"></use></svg>
          </a>
        </li> -->
        <!-- <li>
          <a href="#" class="p-2 mx-1">
            <svg width="24" height="24"><use xlink:href="#wishlist"></use></svg>
          </a>
        </li> -->
        <li>
          <a href="#" class="p-2 mx-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
            <svg width="24" height="24"><use xlink:href="#shopping-bag"></use></svg>
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
