<hr>
<footer class="py-5">
  <div class="container-lg">
    <div class="row">

      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer-menu">
          <img src="assets/images/logo.png" width="240" height="70" alt="logo">
          <div class="social-links mt-3">
            <ul class="d-flex list-unstyled gap-2">
              <li>
                <a href="#" class="btn btn-outline-light">
                  <svg width="16" height="16"><use xlink:href="#linkedin"></use></svg>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/logolate_spain/" class="btn btn-outline-light">
                  <svg width="16" height="16"><use xlink:href="#instagram"></use></svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-sm-6">
        <div class="footer-menu">
          <h5 class="widget-title">Contacto</h5>
          <ul class="menu-list list-unstyled">
            <li class="menu-item">
              <p class="nav-link mb-0">Tel. (+34) 938 612 858</p>
            </li>
            <li class="menu-item">
              <p class="nav-link mb-0">La Garriga (Barcelona)</p>
            </li>
            <li class="menu-item">
              <p class="nav-link mb-0">Spain 08530</p>
            </li>
            <li class="menu-item">
              <a href="mailto:info@logolate.com" class="nav-link">{{email}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6">
        <div class="footer-menu">
          <h5 class="widget-title">Informacion</h5>
          <ul class="menu-list list-unstyled">
            <li class="menu-item">
              <a href="#" class="nav-link">Como funcionamos</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 col-sm-6">
        <div class="footer-menu">
          <h5 class="widget-title">¿Que es Logolate?</h5>
          <ul class="menu-list list-unstyled">
            <li class="menu-item">
              <p>En Logolate te ofrecemos chocolates personalizados de alta calidad, ideales para destacar en cualquier ocasión especial.
                Con diseños únicos, técnicas innovadoras y empaques elegantes, sus productos se adaptan a la imagen de tu empresa o evento.
                Sorprende a tus clientes con un detalle delicioso y personalizado que dejará huella</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
