<section class="pb-4 my-4">
  <div class="container-lg">

    <div class="bg-warning-2 pt-5 rounded-5">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-4">
            <h2>Sorprende a tus clientes con autenticos detalles de chocolate</h2>
            <p>A que esperas para enviarnos tu presupuesto online</p>
            <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart" class="btn btn-primary color-p text-uppercase fs-6 rounded-pill px-4 py-3 mb-2">Crea tu presupuesto</a>
          </div>
          <div class="col-md-5">
            <img src="assets/images/promo.png" alt="phone" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
