<div class="container mt-5 pt-2">
  <div class="document-content">
      <h3 class="text-secondary" id="1-te-damos-la-bienvenida-a-logolatecom">1. TE DAMOS LA BIENVENIDA A LOGOLATE.COM</h3>
      <p>En Logolate te ofrecemos el sitio web <a href="https://logolate.com" target="_blank">https://logolate.com</a>, y en su caso, las aplicaciones móviles y otras propiedades interactivas, que Logolate posee y opera (conjuntamente, la "Web").</p>
      <p>El acceso a la Web te confiere la condición de “Usuario”, entendiendo como Usuario aquél que utiliza la Web con la finalidad de obtener información acerca de los productos y servicios que se ofertan. En aplicación y cumplimiento del deber de información dispuesto en el artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico se facilita la siguiente información acerca de la Web.</p>

      <h4 id="11-conocenos" class="text-secondary mt-4">1.1 Conócenos</h4>
      <ul class="list-group mb-4">
          <li class="list-group-item"><strong>Nombre o Denominación Social del titular:</strong> Logolate, S.L.</li>
          <li class="list-group-item"><strong>NIF/CIF:</strong> B67253617</li>
          <li class="list-group-item"><strong>Domicilio social del titular:</strong> Carrer dels Horts, 10  La Garriga. Barcelona - 08530, España</li>
          <li class="list-group-item"><strong>E-mail de contacto:</strong> <a href="mailto:info@logolate.com">{{email}}</a></li>
          <li class="list-group-item"><strong>Registro Mercantil:</strong> Tomo 46520, Folio 219, Hoja 522681 B, Inscripción 1</li>
          <li class="list-group-item"><strong>Sitio web:</strong> <a href="https://logolate.com" target="_blank">https://logolate.com</a></li>
      </ul>

      <h3 id="2-uso-de-la-web" class="text-secondary">2. USO DE LA WEB</h3>
      <h4 id="21-acceso-a-la-web" class="text-secondary mt-4">2.1 Acceso a la Web</h4>
      <p>Este Aviso Legal regula el acceso y uso de <a href="https://logolate.com" target="_blank">https://logolate.com</a> que Logolate pone a tu disposición. La continuación del uso y navegación en la Web conlleva la aceptación de este Aviso Legal.</p>
      <p>La Web es de acceso libre y gratuito, y con carácter general, no exige la previa suscripción o registro en la Web, sin embargo, puede que algunas secciones de la misma requieran que previamente rellenes un formulario.</p>
      <p>Como Usuario, te comprometes a realizar un uso de la Web, de sus contenidos y de sus servicios, acorde con este Aviso Legal, la legislación aplicable, el orden público y las buenas costumbres y a no hacer un uso dirigido a dañar, inutilizar y/o sobrecargar la Web, o que pueda impedir, de cualquier forma, la normal utilización y funcionamiento de la misma.</p>

      <h4 id="22-limitaciones-de-uso-de-la-web" class="text-secondary mt-4">2.2 Limitaciones de uso de la Web</h4>
      <ul class="list-group mb-4">
          <li class="list-group-item">Realizar actuaciones susceptibles de alterar, deteriorar, interrumpir o dañar nuestros sistemas electrónicos o los de terceros; así como a no obstaculizar el acceso de otros usuarios a la Web y sus servicios mediante el consumo masivo de los recursos informáticos a través de los que prestamos nuestros servicios.</li>
          <li class="list-group-item">Intentar acceder a las cuentas de correo electrónico de otros usuarios o a áreas restringidas de nuestros sistemas informáticos o de los de terceros y, en su caso, extraer información.</li>
          <li class="list-group-item">Vulnerar nuestros derechos de propiedad intelectual o industrial o los derechos de terceros.</li>
          <li class="list-group-item">Reproducir, copiar, distribuir (o cualquier otra forma de comunicación pública), transformar o modificar los contenidos publicados en la Web.</li>
          <li class="list-group-item">Usar cualquier robot, araña u otro dispositivo, proceso o medio automático con cualquier finalidad, incluidas la supervisión o la copia de cualquier material de la Web.</li>
          <li class="list-group-item">Saltar cualquier medida que podamos tomar para evitar o restringir el acceso a ciertas áreas de la Web.</li>
          <li class="list-group-item">Intentar de cualquier otra manera interferir en el funcionamiento correcto de la Web.</li>
      </ul>

      <h3 id="3-propiedad-intelectual-yo-industrial" class="text-secondary">3. PROPIEDAD INTELECTUAL Y/O INDUSTRIAL</h3>
      <p>La Web, los contenidos y funcionalidades relacionadas con los mismos, el diseño de <a href="https://logolate.com" target="_blank">https://logolate.com</a> así como las bases de datos, el software, los distintos elementos que integran el sitio web (textos, gráficos, fotografías, videos, grabaciones sonoras, combinaciones de colores, disposición y la selección, etc.), y signos distintivos (logotipos, marcas registradas y nombres comerciales) que aparecen en la Web son titularidad de Logolate, S.L. o de los titulares de las respectivas licencias y se encuentran protegidos por los correspondientes derechos de propiedad intelectual e industrial.</p>
      <p>En ningún caso, el acceso a la Web supone la cesión de ningún derecho de propiedad intelectual y/o industrial sobre la misma o sus contenidos.</p>

      <h3 id="4-responsabilidad" class="text-secondary">4. RESPONSABILIDAD</h3>
      <h4 id="41-sobre-la-informacion" class="text-secondary mt-4">4.1 Sobre la información.</h4>
      <p>El contenido de la Web es de carácter general y tiene una finalidad informativa sin que garanticemos su exhaustividad, corrección, vigencia o utilidad para un fin concreto.</p>

      <h4 id="42-sobre-los-contenidos-y-servicios-de-terceros-enlazados" class="text-secondary mt-4">4.2 Sobre los contenidos y servicios de terceros enlazados.</h4>
      <p>En ningún caso la existencia de sitios enlazados, integraciones, de la presencia de plugins o de mecanismos de búsqueda supone la recomendación o promoción de los sitios enlazados o sus contenidos por parte de Logolate. Es por ello que no nos hacemos responsables del contenido, manifestaciones o servicios prestados por los sitios web de terceros.</p>
      <p>Te ofrecemos dichos enlaces e información y/o servicios porque entendemos que pueden ser de tu interés, siendo tu responsabilidad leer y aceptar los Términos de Uso y Políticas de Privacidad publicados en dichos sitios web o aplicaciones vinculadas.</p>

      <h4 id="43-de-la-disponibilidad-de-la-web" class="text-secondary mt-4">4.3 De la disponibilidad de la web.</h4>
      <p>Hemos adoptado, y seguiremos adoptando cuantas medidas sean necesarias, dentro de nuestras posibilidades y las del estado de la tecnología, para garantizar el correcto funcionamiento de la Web y evitar la existencia de componentes dañinos. Sin embargo, no responderemos por los daños y perjuicios que te pudiera ocasionar a ti o a terceros la imposibilidad de acceder a la Web, así como de la presencia de virus u otros elementos dañinos.</p>

      <h3 id="5-disposiciones-varias" class="text-secondary">5. DISPOSICIONES VARIAS</h3>
      <h4 id="51-atencion-al-cliente" class="text-secondary mt-4">5.1 Atención al cliente</h4>
      <p>Para cualquier duda, sugerencia, consulta o reclamación relacionada con el uso de la Web ponte en contacto con nosotros a través del correo electrónico <a href="mailto:info@logolate.com">{{email}}</a> y atenderemos tu consulta a la mayor brevedad posible, y en cualquier caso, antes de 30 días.</p>

      <h4 id="52-independencia-e-integridad-de-las-clausulas" class="text-secondary mt-4">5.2 Independencia e integridad de las cláusulas</h4>
      <p>La ilicitud, invalidez o ineficacia de cualquiera de las cláusulas que conforman el presente Aviso Legal no afectará a la eficacia del resto, siempre que los derechos y obligaciones no se vean afectados de forma esencial. Dichas cláusulas deberán reemplazarse o integrarse con otras que, siendo conformes a la ley, respondan a la finalidad de las sustituidas.</p>

      <h4 id="53-modificacion-del-aviso-legal" class="text-secondary mt-4">5.3 Modificación del Aviso Legal</h4>
      <p>La fecha de última actualización de este Aviso Legal, aparece al pie de esta página. Podremos revisar y actualizar este Aviso Legal en cualquier momento y te avisaremos de ello por los medios habituales, pero siempre que afecten a elementos materiales no entrarán en vigor hasta catorce (14) días después de publicarse.</p>

      <h4 id="54-jurisdiccion-y-ley-aplicable" class="text-secondary mt-4">5.4 Jurisdicción y ley aplicable</h4>
      <p>El acceso y uso de <a href="mailto:info@logolate.com">{{email}}</a> se regirán por lo dispuesto en la legislación española. Cualquier disputa o controversia será resuelta por los juzgados y tribunales de Granollers con renuncia expresa a cualquier otro fuero que te corresponda, excepto en el caso que tengas la consideración de consumidor, que la competencia la tendrán los juzgados y tribunales de tu domicilio.</p>
      <p>La Comisión Europea ofrece una plataforma para la resolución alternativa de conflictos, a la que se puede acceder desde <a href="https://ec.europa.eu/consumers/odr" target="_blank">aquí</a>.</p>
      <p class="text-muted"><small>Última actualización: 11/10/2024.</small></p>
  </div>
</div>
