<section *ngIf="producto">
  <div class="container-lg">
    <div class="row gy-4">

      <!-- Imagen del producto (Responsive: Se muestra arriba en móvil) -->
      <div class="col-12 col-lg-6">
        <div class="product-image text-center">
          <img [src]="producto.imagen" alt="{{ producto.nombre }}" class="img-fluid rounded">
        </div>
      </div>

      <!-- Información del producto -->
      <div class="col-12 col-lg-6">
        <div class="product-info">
          <!-- Nombre del producto -->
          <h1 class="product-title mb-3">{{ producto.nombre | titlecase }}</h1>
          <span class="text-muted">{{ producto.referencia | uppercase }}</span>
          <!-- Descripción del producto -->
          <p class="product-description text-muted mb-4">
            Bombón en forma de pirámide serigrafiados de chocolate negro: Trufa de cacao 67% de cacao de Carácas. De chocolate con leche: Praliné de avellanas 38% de cacao Java.
          </p>
          <!-- Botón de acción (Añadir al presupuesto o comprar) -->
          <div class="action-buttons mt-4 mb-3">
            <button (click)="addToCart(producto)" class="btn btn-primary rounded-1 px-4 py-2">
              <svg width="18" height="18" class="me-2"><use xlink:href="#cart"></use></svg> Añadir al presupuesto
            </button>
          </div>
          <!-- Tabla de especificaciones -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th colspan="2" class="text-center">Especificaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><strong>Medidas</strong></td>
                <td>{{ producto.medidas }}</td>
              </tr>
              <tr>
                <td><strong>Material</strong></td>
                <td>Material del producto (Ej. Bolsa reciclada 100%)</td>
              </tr>
              <tr>
                <td><strong>Ingredientes</strong></td>
                <td>Lista de ingredientes (Ej. Cacao, Chocolate Blanco, Leche y Negro 77% de Origen)</td>
              </tr>
              <tr>
                <td><strong>Unidades</strong></td>
                <td>Número de unidades por bolsa (Ej. 4 de cada sabor)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="popular-products" class="products-carousel">
  <div class="container-lg overflow-hidden py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header d-flex justify-content-between my-4">
          <h2 class="section-title">Detalles Relacionados</h2>
          <div class="d-flex align-items-center">
            <div class="swiper-buttons">
              <button class="swiper-prev products-carousel-prev btn btn-primary" tabindex="-1" aria-label="Previous slide">❮</button>
              <button class="swiper-next products-carousel-next btn btn-primary" tabindex="0" aria-label="Next slide">❯</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <swiper-container
          #swiper
          slides-per-view="1"
          space-between="30"
          init="false">
          <swiper-slide *ngFor="let related of relatedProducts" class="product-item swiper-slide" role="group">
            <figure>
              <a [routerLink]="['/producto', related.id]" [title]="related.nombre">
                <img [src]="related.imagen" [alt]="related.nombre" class="tab-image img-fluid" style="max-height: 225px;">
              </a>
            </figure>
            <div class="text-center d-flex flex-column justify-content-between">
              <h3 class="fs-6 fw-normal">{{ related.nombre | titlecase }}</h3>
              <span class="text-muted">{{related.referencia | uppercase}}</span>
              <div class="d-flex justify-content-center align-items-center gap-2">
                <span class="text-dark fw-semibold">{{ related.medidas }}</span>
              </div>
              <div class="button-area p-3 pt-0">
                <div class="row g-1 mt-2">
                  <div class="col-12">
                     <!-- Botón de añadir al presupuesto -->
                  <a (click)="addToCart(related)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart w-100">
                    <svg width="18" height="18"><use xlink:href="#cart"></use></svg> Añadir al presupuesto
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
  </div>
</section>
