<section class="py-5">
  <div class="container-lg">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
      <div class="col">
        <div class="card mb-3 border border-dark-subtle p-3">
          <div class="text-dark mb-3">
            <svg width="32" height="32"><use xlink:href="#package"></use></svg>
          </div>
          <div class="card-body p-0">
            <h3 class="h5">Envios en toda España</h3>
            <p class="card-text">Envios puntuales en toda la peninsula, islas baleares y canarias.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3 border border-dark-subtle p-3">
          <div class="text-dark mb-3">
            <svg width="32" height="32"><use xlink:href="#quality"></use></svg>
          </div>
          <div class="card-body p-0">
            <h3 class="h5">Productos de calidad</h3>
            <p class="card-text">Proporcinamos productos de calidad a gusto del consumidor.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3 border border-dark-subtle p-3">
          <div class="text-dark mb-3">
            <svg width="32" height="32"><use xlink:href="#savings"></use></svg>
          </div>
          <div class="card-body p-0">
            <h3 class="h5">Planificación</h3>
            <p class="card-text">Le informamos en todo momento sobre el progreso del pedido.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-3 border border-dark-subtle p-3">
          <div class="text-dark mb-3">
            <svg width="32" height="32"><use xlink:href="#offers"></use></svg>
          </div>
          <div class="card-body p-0">
            <h3 class="h5">Profesionalidad</h3>
            <p class="card-text">Empresa con mas de 20 años de experiencia en el sector.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
