/* General (para dispositivos móviles) */
.offcanvas-header {
  text-align: center;
  position: relative;
}

.offcanvas-header .btn-close {
  position: absolute;
  top: 15px;
  right: 12%;
  transform: translateX(50%);
  margin-top: 1rem;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 4rem; /* Agregar espacio superior para evitar solapamiento con la cruz */
}

/* Hacer que el botón de enviar presupuesto esté abajo */
button[type="submit"] {
  position: sticky;
  bottom: 0;
  width: 100%;
}

/* Versiones de pantallas grandes (escritorio) */
@media (min-width: 992px) {
  /* Botón de cerrar a la derecha en escritorio */
  .offcanvas-header {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .offcanvas-header .btn-close {
    position: static;
    transform: none;
    margin-top: 0;
  }

  /* Ajustar el espacio superior en escritorio */
  .offcanvas-body {
    padding-top: 4.8rem; /* Ajustamos ligeramente el espacio superior */
  }
}

.quantity-selector {
  display: flex;
  gap: 0.5rem;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form-range {
  width: 100%;
}

.position-relative {
  position: relative; /* Para que el tooltip se posicione relativo a este contenedor */
}

.tooltip-explanation {
  position: absolute;
  background-color: #d4f1ff; /* Color suave de fondo */
  color: #000; /* Color del texto */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadir una sombra */
  z-index: 10; /* Asegurar que esté sobre otros elementos */
  width: 250px;
  top: 0;
  left: 30px; /* Ajusta la posición del tooltip al lado del ícono */
}

.close-tooltip {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.slider-container .bi-question-circle {
  font-size: 1.2rem; /* Tamaño del ícono de interrogante */
}

.alert-info {
  font-size: 0.9rem;
  padding: 0.5rem;
}
