<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart">
  <!-- Header con botón de cierre -->
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <!-- Cuerpo del carrito -->
  <div class="offcanvas-body d-flex flex-column justify-content-between">

    <!-- Lista de productos en el carrito -->
    <div>
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span>Presupuesto</span>
        <span class="badge bg-primary rounded-pill">{{ cartItems.length }}</span>
      </h4>
      <ul class="list-group mb-3">
        <li *ngFor="let item of cartItems" class="list-group-item d-flex justify-content-between lh-sm">
          <div class="d-flex gap-2">
            <img [src]="item.image" alt="{{item.name}}" width="50" height="50" class="rounded">
            <div>
              <h6 class="my-0">{{ item.name }}</h6>
              <small class="text-body-secondary">{{ item.description }}</small>
            </div>
          </div>
          <span class="text-body-secondary">{{ item.price }}</span>
        </li>
        <!-- Total -->
        <li class="list-group-item d-flex justify-content-between">
          <strong>Total (USD)</strong>
          <strong>{{ totalPrice}}</strong>
        </li>
      </ul>
    </div>

    <!-- Checkbox para aceptar términos -->
    <form [formGroup]="termsForm" (ngSubmit)="onSubmit()">
      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="acceptTerms" formControlName="acceptTerms">
        <label class="form-check-label" for="acceptTerms">
          Acepto que podemos enviarte correos electrónicos.
        </label>
        <div *ngIf="termsForm.get('acceptTerms').touched && termsForm.get('acceptTerms').invalid" class="text-danger">
          Debes aceptar los términos para continuar.
        </div>
      </div>

      <!-- Botón de enviar presupuesto -->
      <button class="w-100 btn btn-primary btn-lg mt-auto" type="submit" [disabled]="!termsForm.valid">
        Enviar presupuesto
      </button>
    </form>
  </div>
</div>
