<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart">
  <!-- Header con botón de cierre -->
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <!-- Cuerpo del carrito -->
  <div class="offcanvas-body d-flex flex-column justify-content-between">

    <!-- Lista de productos en el carrito -->
    <div>
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span>Presupuesto</span>
        <span class="badge bg-primary rounded-pill">{{ cartItems.length }}</span>
      </h4>

      <ul class="list-group mb-3">
        <!-- Recorremos los productos con ngFor -->
        <ng-container *ngFor="let item of cartItems; let i = index">
          <!-- Producto -->
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div class="d-flex gap-2">
              <!-- Imagen del producto -->
              <img [src]="item.image" alt="{{item.name}}" width="50" height="50" class="rounded">
              <div>
                <h6 class="my-0">{{ item.name }}</h6>
                <small class="text-body-secondary">{{ item.referencia }}</small>
              </div>
            </div>

            <!-- Cantidad -->
            <div class="quantity-selector d-flex align-items-center">
              <input type="number" [(ngModel)]="item.quantity" class="form-control mx-1 text-center" style="width: 100px;" />
            </div>

            <!-- Botón de eliminar producto (pequeña cruz) -->
            <button type="button" class="btn btn-close" aria-label="Remove" (click)="removeItem(i)"></button>
          </li>

          <!-- Slider-container fuera del <li> pero dentro del bucle de productos -->
            <!-- <label>Selecciona un valor por unidad maximo a gastar para que podamos ajustarnos a su presupuesto</label> -->
          <div class="slider-container mt-2 mb-3">
             <!-- Icono de interrogante -->
             <span (click)="toggleExplanation(i)" class="text-primary cursor-pointer" style="cursor: pointer;">
              <i class="bi bi-question-circle" aria-hidden="true"></i>
            </span>
            <!-- Tooltip o explicación que aparece al hacer clic -->
            <div *ngIf="item.showExplanation" class="alert alert-info mt-2">
              Este deslizador te permite seleccionar la cantidad adicional de {{ item.name }} que deseas entre 1 y 100.
            </div>
            <input type="range" class="form-range" min="1" max="100" [(ngModel)]="item.sliderValue" (input)="updateSliderValue(i, $event)" />
            <span>{{ item.sliderValue }}</span>
          </div>
        </ng-container>

        <!-- Total -->
        <li class="list-group-item d-flex justify-content-between">
          <strong>Cantidad Total: </strong>
          <strong>{{ totalPrice }}</strong>
        </li>
      </ul>
    </div>

    <!-- Checkbox para aceptar términos -->
    <form [formGroup]="termsForm" (ngSubmit)="onSubmit()">
      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="acceptTerms" formControlName="acceptTerms">
        <label class="form-check-label" for="acceptTerms">
          Acepto que podemos enviarte correos electrónicos.
        </label>
        <div *ngIf="termsForm.get('acceptTerms')?.touched && termsForm.get('acceptTerms')?.invalid" class="text-danger">
          Debes aceptar los términos para continuar.
        </div>
      </div>

      <!-- Botón de enviar presupuesto -->
      <button class="w-100 btn btn-primary btn-lg mt-auto" type="submit" [disabled]="!termsForm.valid">
        Enviar presupuesto
      </button>
    </form>
  </div>
</div>
